<!DOCTYPE html>


<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notely | Edit Notes</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
</head>

<body class="bg-gray-50 dark:bg-gray-900 text-white">

    <div class="container w-full h-full relative">
        <div class="nav w-full h-[8vh] flex justify-between px-4 lg:px-14 items-center pt-8">
            <div class="left flex gap-4">
                <a class="mt-1" href="/Notely/home"><span><i class="ri-arrow-left-line font-bold text-lg"></i></span></a>
                <p class="mt-2">
                    <!-- Your formatted date here -->
                </p>
            </div>
            <div class="right flex gap-3 items-center">
                <span id="delete" class="font-bold text-lg cursor-pointer">
                    <i id="deleteicon" class="ri-delete-bin-7-line"></i>
                </span>
            </div>
        </div>
        <div class="texts w-full h-[92vh]">
            <form action="/Notely/updatenote/<%=editnote._id %>" method="post">
                <div class="head w-full px-4 lg:px-14 pt-5 text-black">
                    <h3 class="text-xl font-normal">
                        <input name="title" style="outline: none;" class="w-[75vw] py-2 px-3 border border-gray-300 bg-transparent text-white placeholder-gray-500 focus:border-blue-500 rounded-3xl" type="text" placeholder="Enter a title">
                    </h3>
                </div>
                <div class="description w-full mt-4 px-1 h-[85%] px-4 lg:px-14 overflow-x-hidden overflow-y-auto">
                    <p class="font-normal text-lg">
                        <textarea name="description" style="outline: none;" class="cursor-pointer border border-gray-300 rounded-3xl px-4 py-2 w-[75vw] h-full text-black placeholder-gray-500 focus:border-blue-500 focus:ring-1 focus:ring-blue-500 focus:outline-none" placeholder="Enter a description"></textarea>
                    </p>
                    <div class="btns mt-3 ml-1 flex gap-3">
                        <a id="clear" style="" class="rounded-full px-[1.5vmax] py-[0.4rem] bg-red-600 cursor-pointer">Cancel</a>
                        <button style="" class="rounded-full px-[1.5vmax] py-[0.4rem] bg-red-600" type="submit">Save</button>
                    </div>
                    <div class="delete-container hidden fixed z-50 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center py-5 overflow-hidden w-full max-w-[20rem] lg:w-[13rem] rounded-lg bg-white shadow-md">
                        <h3 class="font-medium tracking-tighter text-black">Delete note</h3>
                        <p class="text-black">Delete this note?</p>
                        <div class="icons mt-3 flex justify-center">
                            <a id="cancel" class="rounded-3xl text-zinc-900 px-3 py-1.5 cursor-pointer text-sm bg-gray-200">Cancel</a>
                            <button id="delete" class="rounded-3xl text-white px-3 py-1 text-sm ml-3 bg-red-600">
                                <a href="/Notely/deletenote/<%= editnote._id %>">Delete</a>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "gilroy";
        }
        
        html,
        body {
            width: 100%;
            height: 100%;
        }
        
        .description::-webkit-scrollbar {
            display: none;
        }
    </style>

    <script>
        document.querySelector("#cancel").addEventListener("click", function() {
            document.querySelector(".delete-container").style.display = "none";
        })

        document.querySelector("#deleteicon").addEventListener("click", function(e) {
            document.querySelector(".delete-container").style.display = "initial";
        })

        document.querySelector("#clear").addEventListener("click", function(dets) {
            document.querySelector("input").value = "";
            document.querySelector("textarea").value = "";
        })
    </script>
</body>

</html>