<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Notes | Edit Note</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
</head>

<body>

    <div class="container w-full h-full relative  " style="background-color: rgba(49, 135, 255, 0.566);">
        <div class="nav w-full h-[8vh] flex justify-between  px-14 items-center pt-8">
            <div class="left flex gap-4 ">
                <a class="mt-1" href="/"><span><i class="ri-arrow-left-line font-bold   text-lg "></i></span></a>
                <p class="mt-2">
                    <%= formattedDate %>
                </p>
            </div>

            <div class="right flex gap-3 items-center">
                <span id="delete" class="font-bold text-lg  cursor-pointer">
                    <i id="deleteicon" class="ri-delete-bin-7-line"></i>
                </span>

            </div>
        </div>

        <div class="texts w-full h-[92vh] ">

            <form action="/mynotes/updatenote/<%=editnote._id %>" method="post">
                <div class="head  w-full px-14 pt-5">
                    <h3 class="text-xl  font-normal">
                        <input name="title" style="outline: none; color:whitesmoke;" class="bg-zinc-800 w-full py-3 px-3   border-none cursor-pointer  rounded-3xl" type="text" placeholder="Enter a title">
                    </h3>

                </div>

                <div class="description w-full mt-4  px-1  h-[85%] px-14   overflow-x-hidden overflow-y-auto  ">
                    <p class="font-normal text-lg">
                        <textarea name="description" style="outline: none; color:whitesmoke;" class="bg-zinc-800 cursor-pointer  border-nonel rounded-3xl px-4 py-3   w-full h-full  whitespace-nowrap " placeholder="Enter a description"></textarea>
                    </p>


                    <div class="btns mt-3 ml-1 ">
                        <a id="clear" style="background-color: rgb(205, 195, 50); " class="rounded-full px-6 py-2 cursor-pointer">Cancel</a>
                        <button style="background-color: rgb(205, 195, 50); " class="rounded-full px-6 py-1.5 " type="submit">Save</button>
                    </div>


                    <div class="delete-container hidden  fixed z-50  top-2/4 left-2/4  text-center py-5  overflow-hidden  w-[13vw] h-[8vw]  rounded-lg " style="background-color:white;">
                        <h3 class="font-medium tracking-tighter">Delete note</h3>
                        <p>Delete this note?</p>

                        <div class="icons mt-3  w-full ">
                            <a id="cancel" class="rounded-3xl  text-zinc-900 px-3 py-1.5 cursor-pointer  text-sm" style="background-color: silver;">Cancel</a>
                            <button id="delete" class="rounded-3xl  text-white px-3 py-1  text-sm ml-3" style="background-color: royalblue;">
                            <a href="/mynotes/deletenote/<%= editnote._id %>">Delete</a>
                        </button>
                        </div>
                    </div>
                </div>

            </form>



        </div>


    </div>


    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "gilroy";
        }
        
        html,
        body {
            width: 100%;
            height: 100%;
        }
        
        .description::-webkit-scrollbar {
            display: none;
        }
    </style>

    <script>
        document.querySelector("#cancel").addEventListener("click", function() {
            document.querySelector(".delete-container").style.display = "none";

        })


        document.querySelector("#deleteicon").addEventListener("click", function(e) {
            document.querySelector(".delete-container").style.display = "initial";
        })


        document.querySelector("#clear").addEventListener("click", function(dets) {

            document.querySelector("input").value = "";
            document.querySelector("textarea").value = "";


        })
    </script>
</body>

</html>