<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Notes | Create Notes</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
</head>

<body>

    <div class="container w-full h-full relative ">
        <div class="nav w-full flex justify-between  px-14 items-center pt-8">
            <a href="/"><span><i class="ri-arrow-left-line font-bold   text-lg "></i></span></a>

            <div class="right flex gap-3 items-center">
                <span id="right" class="font-bold text-lg hidden cursor-pointer">✓</span>

            </div>
        </div>

        <form class="px-14 mt-7 " action="/mynotes/add/notes" method="post">

            <input class="w-11/12 py-2  text-xl outline-0 font-medium" type="text" placeholder="Title." name="title">

            <p class="mt-5">
                <%= formattedDate %>
            </p>

            <textarea class="w-11/12 py-4 pr-4 h-[73vh] outline-offset-0 text-black  outline-0 text-xl " placeholder="Start typing........" name="description"></textarea>

        </form>
    </div>


    <script>
        let right = document.querySelector("#right")
        let form = document.querySelector("form");
        let title = document.querySelector("input")
        let description = document.querySelector("textarea");






        title.addEventListener("input", (dets) => {
            right.style.display = "initial";
        })


        description.addEventListener("input", (dets) => {
            right.style.display = "initial";
        })



        right.addEventListener("click", (event) => {
            form.submit();
            title.value = "";
            description.value = "";
        })
    </script>
</body>

</html>